.buttonLoader {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
}

.submissionInfo {
    font-size: 13px;
    color: #038926;
}

.totalAmount {
    text-align: right;
    border-top: 1px solid #000;
    padding-top: 10px;
}

.container .payment {
    width: 100%;
    margin-bottom: 12px;
    border-radius: 5px !important;
    background-color: #227dc7 !important;
    border-color: #2176bd !important;
}

@media screen and (max-width: 600px) {
    .modal-body {
        padding: 0;
    }

    .modal-body > .container {
        padding: 0;
    }

    .submissionInfo {
        margin-top: 20px;
    }

    .totalAmount {
        padding-bottom: 10px;
    }
}
