.redirectLoader {
    display: inline-block;
    width: 8px;
    height: 8px;
    vertical-align: baseline;
    border: 0.1em solid #000;
    border-right-color: transparent;
    border-radius: 50%;
}
